body {
  margin: 0;
  padding: 0;
}

/* HEADER AREA */
header img {
  height: 600px;
  width: 1300px;
  margin: 10px 140px 130px 200px;
  background-size: cover;
  position: absolute;
  border-radius: 18px;
}


.header-title {
  color: #ffffff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  top: 50px;
  font-family: monospace;
}
.nd-title{
  color: #ffffff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  top: 100px;
  position: relative;
}