body {
  margin: 0;
  padding: 0;
}

/* HEADER AREA */
header img {
  height: 500px;
  width: 1100px;
  margin: 10px 100px 130px 140px;
  background-size: cover;
  position: absolute;
  border-radius: 18px;
}


.header-title {
  color: #ffffff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  top: 50px;
  font-family: monospace;
}

.nd-title {
  color: #ffffff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  top: 50px;
  position: relative;
}

.nxt h1 {
  position: relative;
  text-align: center;
  top: 350px;
  color: #F00;
  font-size: 88px;
  font-weight: 700;
  font-family: sans-serif;

}

.nxt p {
  color: #F00;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  top: 320px;
}

.nxt h2 {
  color: #070211;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: relative;
  top: 290px;
}

.nxt img {
  position: relative;
  width: 700px;
  height: 500px;
  top: 290px;
  left: 300px;
}

/* MAIN AREA */
.main-area {
  position: relative;
}

.vector {
  position: absolute;
  top: 400px;
  left: 130px;
  height: 400px;
  max-width: 100px;
}

.main-title {
  position: absolute;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 440px;
  left: 160px;
  top: 400px;
  color: #FFF;
  font-size: 30px;
  font-weight: 100;

}

.group70 {
  position: absolute;
  top: 480px;
  left: 840px;
}

.main-text {
  color: rgba(255, 255, 255, 0.80);
  font-size: 18px;
  width: 610px;
  font-weight: 400;
  line-height: 30px;
}

.main-btn {
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 10px;
  border: none;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
  background: none;
}

.address-area {
  position: relative;
}

.address-content {
  position: absolute;
  top: 1130px;
  left: 500px;

}

.address-bg {
  position: absolute;
  top: 2100px;
  left: 130px;
  border-radius: 14px;
  height: 500px;
  width: 1100px;
  background: rgba(255, 0, 0, 0.068);
}

.address-btn {
  color: white;
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #F00;
  margin-top: 50px;
  margin-left: 100px;
  border-radius: 12px;
  border: none;
}

.address-content span {
  color: #F00;
}

/* OFFER AREA */
.offer-area {
  position: relative;
}

.offer-area h2 {
  font-family: monospace;
  position: absolute;
  top: 1600px;
  left: 150px;
  color: #F00;
  text-align: center;
  font-size: 24px;
  font-weight: 500;

}

.offer-area h1 {
  position: absolute;
  top: 1620px;
  left: 150px;
  color: #070211;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}

.offer-area p {
  position: absolute;
  top: 1720px;
  left: 150px;
  color: rgba(7, 2, 17, 0.60);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: 400;
  width: 430px;
}

.offer-image {
  position: absolute;
  top: 1550px;
  left: 580px;
  border-radius: 380px;
  border: 15px solid #F00;
}

.offer-area .date {
  position: absolute;
  top: 1570px;
  left: 1050px;
  color: #F00;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 48px;
  font-weight: 700;
}

.offer-area .date-p {
  position: absolute;
  top: 1670px;
  width: 268px;
  left: 1050px;
  color: #F00;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 19px;
  font-weight: 300;
}

.hpy {
  position: absolute;
  top: 1800px;
  left: 1050px;
}

/* HOLIDAY AREA */
.holiday-sales {
  position: relative;
}

.holiday-texts h3 {
  top: 2000px;
  left: 600px;
  position: absolute;
  color: #070211;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  font-weight: 500;

}

.holiday-texts>h1 {
  position: absolute;
  color: #F00;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  top: 2020px;
  left: 410px;
}

.holiday-texts h1 span {
  color: #070211;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 72px;
  font-weight: 900;
}

.holiday-text {
  color: rgba(7, 2, 17, 0.60);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  top: 2180px;
  left: 300px;
  width: 800px;
  position: absolute;
  font-weight: 500;

}

/* GIFT AREA */
.best-gift {
  position: relative;
}

.gift-text h3 {
  position: absolute;
  top: 2420px;
  left: 140px;
  color: #F00;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.gift-text h1 {
  position: absolute;
  top: 2450px;
  left: 140px;
  color: #070211;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 48px;

  font-weight: 900;

  text-transform: capitalize;
}

.gift-text p {
  position: absolute;
  top: 2530px;
  left: 140px;
  width: 800px;
  color: rgba(7, 2, 17, 0.60);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: 400;
  
}
.gift-portfolio-images{
  position: relative;
}
.image-items img{
  width: 350px;
  height: 350px;
}
.image-items{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  top: 2650px;
  left: 140px;
  gap: 14px;
  

}
.image-items :hover{
  border: 1.7px solid rgb(109, 106, 106);
  border-radius: 16px;
}